*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/render.experimental.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/migrations.xml
/.idea/deploymentTargetDropDown.xml
/.idea/appInsightsSettings.xml
/.idea/dictionaries/ASUS.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_03_12_2023_22_41_[Changes]/shelved.patch
